.search-container {
    margin-right: 320px;
    margin-left: auto;
    justify-content: center;
      display: flex;
      align-items: center;
    }
    
    .search-container input {
      margin-right: 10px;
      padding: 8px; /* Increased padding for better visual appearance */
      border: 1px solid #ddd; /* Border color for input */
      border-radius: 15px; /* Rounded corners */
      width: 400px;
    }
    
    .search-container button {
      padding: 8px; /* Adjust padding as needed */
      background-color: #ff9800; /* Change to your desired button color */
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px; /* Rounded corners */
    }